{% extends 'base.html' %} {% block head %}
<title>Home</title>
{% endblock %} {% block body %}
<div class="w-full h-screen fixed bg-gray-500">
    <div class="p-3 lg:rounded shadow-lg lg:w-4/5 bg-gray-900 text-white mx-auto mt-5 ">
        <h1 class="font-bold text-center lg:text-3xl">Add your ToDos</h1>

        <form class="flex flex-col lg:flex-row gap-3 mt-5" method="post">
            {% csrf_token %}
            <input type="text" name="todoName" id="id_todoName" placeholder="your to do" required autofocus
                class="rounded p-2 flex-1 text-black font-bold text-center outline-none" />
            <input type="time" name="todoTime" id="id_todoTime" required
                class="bg-blue-500 text-white p-2 rounded lg:w-fit text-center font-bold">
            <div class="flex justify-between gap-3">

                <input type="submit" value="Add"
                    class="bg-white text-black p-2 rounded lg:w-28 w-20 text-center font-bold cursor-pointer" />
            </div>
        </form>

        <div class=" mt-5 max-h-80 overflow-scroll">
            {% for td in todos %}
            <div class="flex mt-2 gap-3">
                <p class="rounded p-2 px-5 flex-1 text-white font-bold outline-none bg-gray-500">
                    {{td.todo}}
                </p>
                <p class="bg-blue-500 text-white p-2 rounded lg:w-28 text-center font-bold uppercase">{{td.time}}</p>
                <a href="{% url 'delete_todo'  td.id%}"
                    class="bg-red-500 text-black p-2 rounded lg:w-28 text-center font-bold">Delete</a>
            </div>
            {% endfor %}
        </div>
        <a href="{% url 'clear_all' %}" class="underline text-white hover:text-green-400  rounded">clear
            all</a>
    </div>

    {% endblock %}
</div>